<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="{{ path('mail') }}" >e-mail</a>
	<a class="navbar-brand" href="{{ path('visuelClient') }}">visuel de satisfaction</a>
	<a class="navbar-brand" href="{{ path('sessionCreate') }}">créer une session</a>
	<a class="navbar-brand" href="{{ path('sessionFinish') }}">terminer une session</a>
	<a class="navbar-brand" href="{{ path('modifSession') }}">modifier une session</a>
	<a class="navbar-brand" href="{{ path('historique') }}">historique</a>
	<a class="navbar-brand" href="{{ path('scenario') }}">scénario</a>
	<a class="navbar-brand" href="{{ path('modifMDP') }}">Modifier le mot de passe</a>
  </form>
</nav>